### Lambda Expressions, map () , filter(), zip()

#### If we want to apply a function to multiple elements of a list map ( ) is useful

In [1]:
def times2(num):
    return(num*2)

In [2]:
times2(10)

20

In [3]:
#suppose if we want to apply the times2 function to a list of elements

lst = [1,2,4,5,6]
#conventional way with a loop
result = []
for x in lst:
    result.append(times2(x))
print(result)

[2, 4, 8, 10, 12]

In [4]:
# with map 
map(times2, lst) # a map object is created

In [5]:
print(list(map(times2, lst)))

[2, 4, 8, 10, 12]

### Lambda expression

In [8]:
#Lambda expression simiplifies the functions . Lambda function is also called ananymous function. This elimiates the need of formaly
# declaring the functions with def

In [9]:
lambda var:var*2

In [12]:
#we can assing this to a variable 
t = lambda var:var*2

In [13]:
t(20)

40

In [15]:
# One way of usage
list(map(t, lst))

[2, 4, 8, 10, 12]

In [16]:
#More common and preferred way of usage

In [17]:
list(map(lambda var:var*2, lst))

[2, 4, 8, 10, 12]

In [18]:
#Exercise write a lambda expression to square up the numbers of a list

list(map(lambda x: x**2, [2,3,4]))

[4, 9, 16]

### filter() function

In [20]:
#filter function filters an iterator based on a boolean expressin
# Suppose in a list of numbers, if we want to filter all the even numbers 
# This is very useful in DS applications to filter out large data sets for a condition

list(filter(lambda x: x%2 == 0, [23,4,6,7,8, 10, 32]))

[4, 6, 8, 10, 32]

### zip() function

In [39]:
#Zip function creates tuples 
a = ("John", "Charles", "Mike", "Rani")
b = ("Jenny", "Christy", "Monica", "Raja")
x = zip(a, b)
print(x)

<zip object at 0x000002CC76094880>

In [40]:
print(list(x))

[('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'), ('Rani', 'Raja')]

In [41]:
print(list(zip(b,a)))

[('Jenny', 'John'), ('Christy', 'Charles'), ('Monica', 'Mike'), ('Raja', 'Rani')]

In [59]:
one = [1,2,3]
two = [4,5,6]
three = [7,8,9]
packed = zip(one, two, three)
packed = list(packed)
print(list(packed))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [60]:
packed

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [61]:
coordinate = ['x', 'y', 'z']
value = [3, 4, 5]
result = zip(coordinate, value)
result_list = list(result)
print(result_list)

[('x', 3), ('y', 4), ('z', 5)]

In [62]:
result_list

[('x', 3), ('y', 4), ('z', 5)]

In [63]:
result_list[0]

('x', 3)

In [65]:
print(type(result_list[0]))

<class 'tuple'>

### tuple unpacking

In [68]:
for k, v in result_list:
    print(k)

x
y
z