### Pandas Library

In [5]:
import numpy as np
import pandas as pd

#### Pandas Series Object 
#### Series is a matrix like object with index and values

In [6]:
# Creating series objects from various data types

In [11]:
#From normal python lists
ages = [23, 32, 33, 18]
names = ['Raju', 'Ravi', 'Sita', 'Ram']

In [12]:
students = pd.Series(data = ages, index = names)
students

Raju    23
Ravi    32
Sita    33
Ram     18
dtype: int64

In [17]:
# from numpy array

marks = np.array([23,34,56,78])
students1 = pd.Series(data = marks) # In this case the index is not set
students1

0    23
1    34
2    56
3    78
dtype: int32

In [21]:
students1.index = names # Setting the index to the series

In [22]:
students1

Raju    23
Ravi    34
Sita    56
Ram     78
dtype: int32

In [26]:
# From dictionary 
dic = {'Ravi':35, 'Raju':45, 'Uma':18, 'John': 23}
students2 = pd.Series(data = dic) # In this case, the index is already taken from keys of dictionary
students2

Ravi    35
Raju    45
Uma     18
John    23
dtype: int64